<div id="noteComponent">
    <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card class="ved">
        <mat-card-header>
            <mat-toolbar color="primary">
                <mat-card-title>
                    <h1>
                        <span i18n>Notes</span>
                        <!-- <span>{{site.name}}</span> -->
                    </h1>
                </mat-card-title>
            </mat-toolbar>
        </mat-card-header>
            <mat-card-content>
                <mat-form-field id="note">
                    <mat-label i18n>Note</mat-label>
                    <textarea matInput rows="10" formControlName="note" id="noteArea"></textarea>
                    <mat-error *ngIf="form.controls.note.hasError('minlength')" id="noteLength" i18n>Enter at least 3 characters.</mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button [disabled]="form.invalid || form.pristine" type="submit" id="noteSave" mat-raised-button color="primary" i18n>Save</button>
            </mat-card-actions>
        </mat-card>
    </form>


    <ol id="notesList">
        <li class="note" id="note{{note.id}}" *ngFor="let note of notes$ | async">
            <mat-card id="noteMessage">{{note.note}}

                <mat-card-footer>
                    <span i18n>Created by: </span> {{note.created_by_user}}
                    <span i18n>at:</span> {{ note.created_at*1000 | date:'medium'}}
                </mat-card-footer>
            </mat-card>
        </li>
    </ol>
</div>