<mat-card class="ved flex">
    <mat-toolbar color="primary">
        <mat-card-title i18n vedTitle>Client List</mat-card-title>
    </mat-toolbar>


    <mat-card-content>
        <table mat-table [dataSource]="clients.data" #mytable class="my-table mat-elevation-z8" *ngIf="clients.data.length>0" class="clientsTable">
            <!-- Client Name Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef i18n> Name </th>
                <td mat-cell *matCellDef="let element" id="{{ 'name-' + element.id }}">
                    <span class="mobile-label" i18n>Name:</span> {{element.name}} </td>
            </ng-container>

            <!-- Client Id Column -->
            <ng-container matColumnDef="Client ID">
                <th mat-header-cell *matHeaderCellDef i18n> Client Id </th>
                <td mat-cell *matCellDef="let client">
                    <span class="mobile-label" i18n>Client Id:</span> {{client.client_id}} </td>
            </ng-container>

            <!-- Client Country Column -->
            <ng-container matColumnDef="Country">
                <th mat-header-cell *matHeaderCellDef i18n> Country </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label" i18n>Country:</span> {{element.country}} </td>
            </ng-container>

            <!-- Client Status Column -->
            <ng-container matColumnDef="Status">
                <th mat-header-cell *matHeaderCellDef i18n> Status </th>
                <td mat-cell *matCellDef="let element">
                    <span class="mobile-label" i18n>Status:</span>
                    <span *ngIf="element.status == 1">Active</span>
                    <span *ngIf="element.status == 2">Not Active</span>
                    <span *ngIf="element.status == 3">Blocked</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="actions">
                    <!-- <span class="mobile-label" i18n>Action</span> -->
                    <a [routerLink]="['/clients', element.id, 'sites']" stopPropagation mat-raised-button color="primary" id="{{ 'sites-' + element.id }}" i18n>Sites</a>
                    <button i18n-title title="delete" class="deleteBtn" mat-button (click)="openDialog(element)" stopPropagation mat-raised-button color="warn" id="{{ 'del-' + element.id }}">
                        <mat-icon> delete_forever</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['Name', 'Client ID', 'Country', 'Status', 'Action']"></tr>
            <tr mat-row *matRowDef="let client; columns: ['Name', 'Client ID', 'Country', 'Status', 'Action'];" [routerLink]="['/clients', client.id]" id="{{'edit-' + client.id }}"></tr>
        </table>

        <p *ngIf="clients.data.length==0" i18n>No Clients found</p>

    </mat-card-content>
    <mat-card-actions>
        <a [routerLink]="['/clients/new']" mat-raised-button color="primary" id="createClient" i18n>Create Client</a>
    </mat-card-actions>
</mat-card>