 
<mat-card class="editProfile-card">
  <mat-toolbar color="primary">
    <mat-card-title i18n>Edit Profile</mat-card-title>

    <button mat-button [matMenuTriggerFor]="menu" type="button">
      <mat-icon>language</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>English</button>
    <button mat-menu-item>Македонски</button>
  </mat-menu>

  <form #lUser="ngForm" novalidate (ngSubmit)="update()">
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label i18n>First Name</mat-label>
        <input matInput required [(ngModel)]="user.first_name" name="fname" #fName="ngModel" class="fName">
        <mat-error *ngIf="fName.invalid && (fName.dirty || fName.touched)" class="alert" align="end">
          <mat-error *ngIf="fName.errors.required" i18n>First name is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width lName">
        <mat-label i18n>Last Name</mat-label>
        <input matInput required [(ngModel)]="user.last_name" name="lname" #lName="ngModel" class="lName">
        <mat-error *ngIf="lName.invalid && (lName.dirty || lName.touched)" class="alert" align="end">
          <mat-error *ngIf="lName.errors.required" i18n>Last name is required</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-divider></mat-divider>

      <mat-form-field class="full-width userPassword">
        <mat-label i18n>Current Password</mat-label>
        
        <input matInput minlength="4" [(ngModel)]="currentPass" name="currentPass" #vPass="ngModel" [required]="rePass ? true : null" [type]="hide.pass ? 'password' : 'text'">

        <button mat-icon-button matSuffix (click)="hide.pass = !hide.pass" [attr.aria-label]="'Hide password'" type="button"
          [attr.aria-pressed]="hide.pass">
          <mat-icon>{{hide.pass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="vPass.invalid && (vPass.dirty || vPass.touched)" class="alert" align="end">
          <mat-error *ngIf="vPass.errors.required" i18n>Current Password is required</mat-error>
          <mat-error *ngIf="vPass.errors.minlength" i18n>Password must be at least 4 characters long</mat-error>
        </mat-error>
      </mat-form-field>

      
      <mat-form-field class="full-width">
        <mat-label i18n>New Password</mat-label>
        <input matInput minlength="4" [(ngModel)]="newPass" name="newPass" #vNPass="ngModel" [required]="currentPass ? true : null" [type]="hide.fpass ? 'password' : 'text'" class="Password">
        
        <button mat-icon-button matSuffix (click)="hide.fpass = !hide.fpass" [attr.aria-label]="'Hide password'"
          type="button" [attr.aria-pressed]="hide.fpass">
          <mat-icon>{{hide.fpass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="vNPass.invalid && (vNPass.dirty || vNPass.touched)" class="alert" align="end">
          <mat-error *ngIf="vNPass.errors.minlength" i18n>Password must be at least 4 characters long</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label i18n>Retype New Password</mat-label>
        <input matInput minlength="4" [(ngModel)]="rePass" name="rePass" #vRepass="ngModel" [required]="newPass ? true : null" [type]="hide.cpass ? 'password' : 'text'" pattern="{{ vNPass.value }}" class="Confirm">
        
        <button mat-icon-button matSuffix (click)="hide.cpass = !hide.cpass" [attr.aria-label]="'Hide password'"
          type="button" [attr.aria-pressed]="hide.cpass">
          <mat-icon>{{hide.cpass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="vRepass.invalid && (vRepass.dirty || vRepass.touched)" class="alert" align="end">
          <mat-error *ngIf="vRepass.errors.required" i18n>Password is required</mat-error>
          <mat-error *ngIf="vRepass.errors.minlength" i18n>Password must be at least 4 characters long</mat-error>
          <mat-error *ngIf="vRepass.errors.pattern" class="mismatch" i18n>Password don't match</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button type="submit" class='submitButton' mat-raised-button color="primary" [disabled]="!lUser.form.valid" i18n>SAVE</button>
    </mat-card-actions>
  </form>
</mat-card> 
