<form [formGroup]="form" (ngSubmit)="login()" class="loginForm" id="loginForm">
<mat-card class="login-card ved" *ngIf="showForm">
  <mat-toolbar color="primary">
    <mat-card-title i18n vedTitle>Login</mat-card-title>


    <ul>
      <li>
          <languages></languages>
      </li>
  </ul>
  </mat-toolbar>


    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label i18n>Email</mat-label>
        <input matInput formControlName="email" type="email" name="email" class="userEmail">
        <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert" align="end" id="error-email">
          <mat-error *ngIf="f.email.errors.required" id="validateEmailRequired" i18n>Email Address is required</mat-error>
          <mat-error *ngIf="f.email.errors.email" id="validateEmailProper" i18n>Enter Proper Email Address</mat-error>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label i18n>Password</mat-label>
        <input matInput formControlName="password" type="password" name="password" [type]="hide ? 'password' : 'text'" class="userPassword" id="pass">

        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" type="button"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert" align="end" id="error-pass">
          <mat-error *ngIf="f.password.errors.required" id="validatePasswordRequired" i18n>Password is required</mat-error>
          <mat-error *ngIf="f.password.errors.minlength" id="validatePasswordLength" i18n>Password must be at least 4 characters long</mat-error>
      </mat-error>
      </mat-form-field>

      <img mat-card-image [src]="captchaImage$ | async" alt="Captcha" i18n="alt" id="captchaImg">

      <mat-form-field class="full-width">
        <mat-label i18n>captcha</mat-label>
        <input matInput formControlName="captcha" name="captcha" class="userCaptcha">

        <mat-error *ngIf="f.captcha.invalid && (f.captcha.dirty || f.captcha.touched)" class="alert" align="end" id="error-captcha">
          <mat-error *ngIf="f.captcha.errors.required" id="validateCaptchaRequired" i18n>Captcha is required</mat-error>
          <mat-error *ngIf="f.captcha.errors.minlength" id="validateCaptchaLength" i18n>Enter at least 4 characters</mat-error>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <a routerLink="/reset" routerLinkActive="active" i18n>Forgot password?</a>
      <button type="submit" class='submitButton' mat-raised-button color="primary" [disabled]="!form.valid" i18n>LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>