<form [formGroup]="form" (ngSubmit)="send()" class="forgotPassForm">
<mat-card class="login-card ved" *ngIf="showForm">
    <mat-toolbar color="primary">
        <mat-card-title i18n vedTitle>Reset Password Request</mat-card-title>

        <ul>
            <li>
                <languages></languages>
            </li>
        </ul>
        
    </mat-toolbar>

        <mat-card-content>

            <mat-form-field class="full-width">
                <mat-label i18n>Email</mat-label>
                <input matInput formControlName="email" class="Email" name="email" type="email">
                <mat-error *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert" align="end" id="error-email">
                    <mat-error *ngIf="f.email.errors.email" id="validationProperMail" i18n>Enter Proper Email Address</mat-error>
                    <mat-error *ngIf="f.email.errors.required" id="validationMailRequired" i18n>Email Address is required</mat-error>
                </mat-error>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions align="end">
            <a routerLink="/" routerLinkActive="active" i18n>Back to login form</a>
            <button mat-raised-button id="submitBtn" type="submit" class="forgot-submit" color="primary" [disabled]="!form.valid" i18n>Send instructions</button>
        </mat-card-actions>

        
    </mat-card>
</form>
    

<mat-card class="login-card" *ngIf="!showForm" id="successMessage">
    <mat-toolbar color="primary">
        <mat-card-title i18n vedTitle>Send Password reset link</mat-card-title>
        
        <ul>
            <li>
                <languages></languages>
            </li>
        </ul>
    </mat-toolbar>
    
    <mat-card-content>
        <h2 i18n>Please check your email</h2>
    </mat-card-content>

    <mat-card-actions align="end">
        <a routerLink="/" routerLinkActive="active" i18n>Back to login form</a>
    </mat-card-actions>
</mat-card>
