@keyframes ldio-ahougqxr1w {
	0% { transform: rotate(0deg) }
	50% { transform: rotate(180deg) }
	100% { transform: rotate(360deg) }
}
.ldio-ahougqxr1w div {
	position: absolute;
	animation: ldio-ahougqxr1w 1s linear infinite;
	width: 56px;
	height: 56px;
	bottom: 72px;
	right: 72px;
	border-radius: 50%;
	box-shadow: 0 4px 0 0 #93dbe9;
	transform-origin: 28px 30px;
}
.ldio-ahougqxr1w div { box-sizing: content-box; }
