.landingPage {
  width: 40%;
  margin: 100px auto;
  border-radius: 10px;
}

.landingPage mat-card {
  border-radius: 5px;
}

.landingPage mat-toolbar, .showInfo mat-toolbar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.showInfo {
  width: 40%;
  margin: 100px auto !important;
}

.showInfo ul li {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
}

.showInfo ul li p {
  padding: 10px 5px;
  width: 70%;
}
.showInfo ul li p:first-child {
  width: 30%;
  text-align: right;
  font-weight: bold;
}